/* styles/Header.css */
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(73, 96, 172);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
}

.navWrapper {
  display: flex;
  align-items: center;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navLinks li {
  margin-right: 20px;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navLinks a:hover {
  color: rgb(0, 0, 255);
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.logoTypo {
  font-size: 1.5rem;
  color: rgb(10, 20, 120);
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.signupBtn {
  background-color: #1c6ea4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.signupBtn:hover {
  background-color: #144e75;
}

.signupBtn:active {
  background-color: #0e3752;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* Hide the nav links on mobile */
  }
}
